
<html lang="en">
<head>
  <title> All project</title>
  <%=stylesheet_link_tag('project') %>
</head>

<body>
<h2 style="padding-left: 500px">  Edit Bug</h2>


<div class="container"  id="container">
  <%= form_for :projects_developer, :html => {:multipart => true, :class=>"form-group"} , url: update_bug_path({bug_id:@bug.id, project_id:@project.id}), method: :put  do |f| %>
    <% if @bug.errors.any? %>
      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>a
    <% flash.each do |type, msg| %>
      <div>
        <div class="alert alert-primary" role="alert">
          <%=msg %>
        </div>
      </div>
    <% end %>


    <%= f.hidden_field :project %>
    Screen Shot: <%=f.file_field :image, class:"form-control" %>

    <div class="field" data-target="bug">
      <%= f.label :status_is, class:"form-control" %><br />
      <%= f.select(:status_is, (Bug.status_is.keys - ['completed']).map {|role| [role.titleize,role]}) %>
    </div>



    <%=f.submit 'edit'%>

  <%end %>
  <script>
      function toggleSelects() {
          var value = $('#bug_typeOf')[0].value;

          $('[data-target=bug]').toggle(value === 'bug');
          $('[data-target=bug] select').attr('disable', value !== 'bug');

      }

      // execute every time the type of task is changed
      $('#bug_typeOf').on('change', () => toggleSelects());

      // also execute at document load
      $(toggleSelects);
  </script>
</div>
</body>
</html>