
<html lang="en">
<head>
  <title> All project</title>

</head>

<body>
<h2>All projects</h2>

<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>
<div class="container"  id="container">
  <button class="accordion-button" style="margin-left: 990px"><%=link_to 'Create New Project', new_project_path %></button>
  <% if @projects.any? %>
    <table class="table">
      <tr>
        <th> Project Name </th>
        <th> Create New Bug </th>
        <th> Delete Project </th>
        <th> Edit Project </th>
        <th> All bug</th>

      </tr>

      <% @projects.each do |project| %>
        <tr>
          <td> <%=project.name %></td>
          <td> <%=link_to 'Add bugs', new_project_bug_path(project.id) %></td>
          <td> <%=button_to 'Delete', {:controller => :projects, :action => 'destroy', :id => project.id}, method: :delete %></td>
          <td> <%=link_to 'Edit ', edit_project_path(project.id)%> </td>
          <td> <%=link_to 'Bugs ', project_bugs_path(project.id)%> </td>
        </tr>


      <%end %>
    </table>
  <% end %>
</div>
</body>
</html>