<h2 style="padding-left: 500px">Add Project</h2>
<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>

<div class="container"  id="container">
<%= form_for :project, :html => {:class=>"form-group"}, url: projects_path  do |f| %>

  Add task: <%=f.text_field :name, class:"form-control" %><br>
    <h2>Select Developer</h2>
    <%= f.select :developer_id, options_for_select(@users.collect  {|user|["#{user.name}","#{user.id}"]}) %><br>


  <%= f.submit "Add" %>

<% end %>
  </div>

