<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>
<%= f.hidden_field :project %>
Title: <%=f.text_field :title, class:"form-control" %><br>
Description: <%=f.text_field :description, class:"form-control" %><br>
<label for="deadline">Deadline</label><input type="datetime-local" id="deadline"
                                             name="deadline" ><br>
Screen Shot: <%=f.file_field :image, class:"form-control" %>
<div class="field">
  <%= f.label :typeOf, class:"form-control" %><br />
  <%= f.select(:typeOf, Bug.typeOfs.keys.map {|role| [role.titleize,role]}) %>
</div>

<div class="field" data-target="bug">
  <%= f.label :status_is, class:"form-control" %><br />
  <%= f.select(:status_is, (Bug.status_is.keys - ['completed']).map {|role| [role.titleize,role]}) %>
</div>

<div class="field" data-target="feature">
  <%= f.label :status_is, class:"form-control" %><br />
  <%= f.select(:status_is, (Bug.status_is.keys - ['resolved']).map {|role| [role.titleize,role]}) %>
</div>