
<html lang="en">
<head>
  <title> All project</title>

</head>

<body>
<h2> All bugs</h2>

<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>
<div class="container"  id="container">
  <button class="accordion-button" style="margin-left: 990px"><%=link_to 'Create New Bug', new_project_bug_path %></button>

    <table class="table">
      <tr>
        <th> Bug Title </th>
        <th> Desription </th>
        <th> Delete Bug  </th>
        <th> Assign Developer </th>
      </tr>


<% @bugs.each do |bug| %>
<tr>
  <td> <%= bug.title %> </td>
  <td> <%= bug.description %> </td>
  <td> <%=button_to 'Delete', {:controller => :bugs, :action => 'destroy', :id => bug.id}, method: :delete %> </td>
  <td> <%=link_to 'Assign Developer', edit_project_bug_path(bug.project,bug.id) %><br> </td>
</tr>
<%end %>
    </table>

</div>
</body>
</html>