
<html lang="en">
<head>
  <title> All project</title>
  <%=stylesheet_link_tag('project') %>
</head>

<body>
<h2 style="padding-left: 500px">  Generate Bug</h2>



<div class="container"  id="container">
<%= form_for :bug, url: project_bugs_path, :html => {:multipart => true, :class=>"form-group"}  do |f| %>
    <% if @bug.errors.any? %>
      <ul>
        <% @bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%=render(:partial => 'bugForm', locals: {:f =>f} ) %>
    <%=f.submit 'add' %>

<%end %>
  <script>
      function toggleSelects() {
          var value = $('#bug_typeOf')[0].value;

          $('[data-target=bug]').toggle(value === 'bug');
          $('[data-target=bug] select').attr('disable', value !== 'bug');

          $('[data-target=feature]').toggle(value === 'feature');
          $('[data-target=feature] select').attr('disable', value !== 'feature');
      }

      // execute every time the type of task is changed
      $('#bug_typeOf').on('change', () => toggleSelects());

      // also execute at document load
      $(toggleSelects);
  </script>
</div>
</body>
</html>